@import "tailwindcss";

@config "./tailwind.config.ts";

:root {
  --dark-green: #104f55;
  --light-green: #06d6a0;
  --dark-orange: #8b2500;
  --light-orange: #ffb347;
  --dark-pink: #802752;
  --light-pink: #ff6f91;
  --dark-cyber: #3b00b9;
  --light-cyber: #e100ff;
}

.light-green,
.light-orange,
.light-pink,
.light-cyber,
.dark-green,
.dark-orange,
.dark-pink,
.dark-cyber {
  --neutral: #707070;
  --error_light: #e60a0c;
  --error_dark: #800516;
  --warn_light: #fcf936;
  --warn_dark: #bf9003;
}

.light-green,
.light-orange,
.light-pink,
.light-cyber {
  --primary-bg: #f8fafc;
  --secondary-bg: #eef2f6;
  --primary-text: #0a0a0a;
  --secondary-text: #404040;
  --primary-border: #d0d7de;
  --secondary-border: #e2e8f0;
  --neutral-glow: #1e293b;
  --ghost: rgba(10, 10, 10, 0.08);
}

.dark-green,
.dark-orange,
.dark-pink,
.dark-cyber {
  --primary-bg: #0a0a0a;
  --secondary-bg: #1f1f1f;
  --primary-text: #ebebeb;
  --secondary-text: #b3b3b3;
  --primary-border: #0a0a0a;
  --secondary-border: #1f1f1f;
  --neutral-glow: #ebebeb;
  --ghost: rgba(235, 235, 235, 0.15);
}

.light-green,
.dark-green {
  --accent_dark: var(--dark-green);
  --accent_light: var(--light-green);
}

.light-orange,
.dark-orange {
  --accent_dark: var(--dark-orange);
  --accent_light: var(--light-orange);
}

.light-pink,
.dark-pink {
  --accent_dark: var(--dark-pink);
  --accent_light: var(--light-pink);
}

.light-cyber,
.dark-cyber {
  --accent_dark: var(--dark-cyber);
  --accent_light: var(--light-cyber);
}
