@import "tailwindcss";

@config "./tailwind.config.ts";

/* === BASE STRUCTURE === */

.light-green,
.light-orange,
.light-pink,
.light-cyber,
.dark-green,
.dark-orange,
.dark-pink,
.dark-cyber {
  --neutral: #707070; /* rgba(112, 112, 112, 1) */
  --error_light: #e60a0c; /* rgba(230, 10, 12, 1) */
  --error_dark: #800516; /* rgba(128, 5, 22, 1) */
  --warn_light: #fcf936; /* rgba(252, 249, 54, 1) */
  --warn_dark: #bf9003; /* rgba(191, 144, 3, 1) */
}

/* === LIGHT THEMES === */

.light-green,
.light-orange,
.light-pink,
.light-cyber {
  --primary-bg: #f8fafc;
  --secondary-bg: #eef2f6;
  --primary-text: #0a0a0a;
  --secondary-text: #404040;
  --primary-border: #d0d7de;
  --secondary-border: #e2e8f0;
  --neutral-glow: #1e293b;
  --ghost: rgba(10, 10, 10, 0.08);
}

.light-green {
  --accent_dark: #104f55;
  --accent_light: #06d6a0;
}

.light-orange {
  --accent_dark: #8b2500;
  --accent_light: #ffb347;
}

.light-pink {
  --accent_dark: #802752;
  --accent_light: #ff6f91;
}

.light-cyber {
  --accent_dark: #3b00b9;
  --accent_light: #e100ff;
}

/* === DARK THEMES === */

.dark-green,
.dark-orange,
.dark-pink,
.dark-cyber {
  --primary-bg: #0a0a0a;
  --secondary-bg: #1f1f1f;
  --primary-text: #ebebeb;
  --secondary-text: #b3b3b3;
  --primary-border: #0a0a0a;
  --secondary-border: #1f1f1f;
  --neutral-glow: #ebebeb;
  --ghost: rgba(235, 235, 235, 0.15);
}

.dark-green {
  --accent_dark: #104f55;
  --accent_light: #06d6a0;
}

.dark-orange {
  --accent_dark: #8b2500;
  --accent_light: #ffb347;
}

.dark-pink {
  --accent_dark: #802752;
  --accent_light: #ff6f91;
}

.dark-cyber {
  --accent_dark: #3b00b9;
  --accent_light: #e100ff;
}
