@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Slab:wght@400;700&display=swap");

@import "@repo/tailwind-config/tailwind-styles";

input:-webkit-autofill,
input:-webkit-autofill:enabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:enabled,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:enabled,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #b3b3b3 !important;
    -webkit-box-shadow: 0 0 0 1000px #1f1f1f inset;
    box-shadow: 0 0 0 1000px #1f1f1f inset;
}

.container {
    @apply mx-auto w-full max-w-406 px-6 md:px-4;
}
